html {
    font-size: 62.5%;
}
.inicio{
    background-color:#faf9f9;

}
.imageninicio{
    width: 100%;


}
body {
    background-image: url("..multimedia/lou1.jpeg");
    font-family: 'Julius Sans One', sans-serif;
    background-size: cover;
    font-size: 2rem;
}

.bodySecundario {
    background-color: #f6f3ec;
}


// de acá es el header nuevo
.logo {
    width: 50px;
}
.logo2{
    width: 85%;
    
}
.logo2:hover{
    transform: scale(1.2,1.2);
    filter: sepia(80%);

}

.seccionPrincipal {
    font-size: 6rem;
    color: #555b6e;
     font-family: 'Sacramento', cursive;
     margin: 30px 10px 10px 30px;
   
}
.sumate{
    font-size: 3rem;
    font-weight: bold;
    margin: 10px 30px;
    color: #FFC300;
}

.sumate:hover{
    color: #bee3db;
}

.sumate1{
margin: 10px 30px;
font-size: 2rem;
letter-spacing: 1px;
word-spacing: 4px;

}
.imgmandala{
    width: 50%;
   margin: 30px;
 
}
.elementoA{
    background-color: #F9F8F7;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.queTodo{

    color: #8B8C90;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 4rem;
}
.aquiAhora{
    font-size: 6rem;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Julius Sans One', sans-serif;
}
.headerSecundario {
    height: 50%;
    border-bottom: solid 1px #FFC300; 
    background-color: #faf9f9;
}

.headerSecundario2{
    height: 70px;
    background-color: #faf9f9;
    border-bottom: solid 1px #bee3db;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.tituloIndex {
    color: #555b6e;
    font-size: 5rem;
    font-family: 'Julius Sans One', sans-serif;
  
}

ul li {
    text-align: center;
    display: inline;
    padding: 1rem;
}

ul li a {
    color: #555b6e;
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 17px;
}

ul li a:hover {
    color: #FFC300;
}


/* a partir de acá el main */

//Aplico Operaciones
$color: #555b6e;
$background: #bee3db;
$background2: #faf9f9;
$text-align: center;
$padding: 10px;
$color2: #419FD9;
$tamanoLetra: 3em;
$fuente: 'Julius Sans One',sans-serif;
$fuente2: 'Thasadith', sans-serif;
$margintop: 30px;
$marginboo: 80px;
$backgroundimage: url("../multimedia/mandala1.jpg");

.seccion0{
    background-image: $backgroundimage;
    margin-top: $margintop;
}
.seccion0__article_h3{
    font-size: $tamanoLetra;
}
.seccion0__article__p{
    font-family: $fuente2;
}

.seccion{
    background: $background2;
    margin-top: $margintop;
    margin-bottom: $margintop;
}
.seccion__article__p1 {
    font-size: $tamanoLetra;
}

.seccion__article__p2 {
    font-family: $fuente2;
}

.seccionC{
    background-image: $backgroundimage;
    margin-bottom: $marginboo;
}
.seccionC__article__p1{
    font-size: $tamanoLetra;
}
.seccion__article__p2{
    font-family: $fuente2;
}
//fin operaciones
.seguime {
    background-color: #bee3db;
    border-top: solid 1px #594D58;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 300px;
    padding: 30px;
}

.seguimePalabra {
    color: #594D58;
    font-size: 3rem;
}

.seguime .facebook img {
    width: 35px;
    height: 35px;
    margin-left: 30px;
    animation-duration: 2s;
    animation-name: aparecer;
}

.seguime .facebook img:hover {
    color: #0f3a49;
}

.seguime .instagram img {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    animation-duration: 2s;
    animation-name: aparecer;
}

.seguime .youtube img {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    animation-duration: 2s;
    animation-name: aparecer;
}

footer {
    background-color: #555b6e;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

footer .ubicacion img {
    width: 35px;
    height: 35px;
}

footer .ubicacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 10px;
    color: white;
}

footer .porMavi {
    margin: 5px;
    padding: 10px;
    color: white;
}

footer .derechos {
    margin: 5px;
    padding: 10px;
    font-family: 'Thasadith', sans-serif;
    font-size: 15px;
    color: white;
}

p {
    font-family: 'Thasadith', sans-serif;
    color: black;
}

.tituloSecundario {
    color: #fe6d73;
    font-family: 'GFS Neohellenic';
    text-align: center;
}


/*------------------SECCIÓN SABIDURÍA----con--bootstrap-----------------------*/

.tituloSecundario {
    color: #555b6e;
    text-align: center;
    background-color:#FFC300;
}

.section1 {
    background-color: #bee3db;
    margin-bottom: $margintop;
}
.container__section1__h2 {
    color: #555b6e;
    font-size: 3rem;
    font-family: $fuente2;
}
.container__section1__p{
    font-family: $fuente2;
}


/*-------------------SECCIÓN CLASES-----con Flex------------*/

.loutaller:hover{
    transform: scale(1.1,1.1);
    filter: sepia(30%);
}
.loutaller2:hover{
    transform: scale(1.1,1.1);
    filter: sepia(60%);
}
.loutaller3:hover{
    transform: scale(1.1,1.1);
    filter: sepia(60%);
}
.fotostaller{
    margin-top: 50px;
    margin-bottom: 80px;
}
.tabla {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
}

li {
    list-style: none;
}

.claseInteres {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.botonVolver {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.botonVolver a:hover {
    background-color: #FFC300;
    color: #555b6e;
}


/*-------------SECCIÓN CONTACTO----------------*/

fieldset {
    font-family: 'Poiret One';
    margin: 20px;
}

.botonVolver a {
    color: white;
    background-color: #555b6e;
    border: solid 1 px;
    padding: 10px;
    margin-top: 200px;
    text-decoration: none;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
}

.pregunta {
    margin-top: 15px;
    padding-top: 20px;
}

button {
    width: 150px;
}

.botonenviar {
    background-color: #227c9d;
    padding: 10px;
    font-size: 15px;
}


/*--------------------SECCIÓN SOBRE MI-----con Grid-----------------------------*/

.grid {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "tituloSobre tituloSobre" "textoSobre1 imagen1" "imagen2 textoSobre2" "textoSobre3 imagen3";
    align-items: center;
    padding: 30px;
}

.tiziano:hover{
    transform: scale(1.1,1.1);
    filter: sepia(60%);
}
.fotolourdes1:hover{
    transform: scale(1.1,1.1);
    filter: sepia(60%);
}    
.fotolourdes2:hover{
    transform: scale(1.1,1.1);
    filter: sepia(60%);
}


.tituloSobre {
    grid-area: tituloSobre;
    font-size: px;
    color: #3b6064;
    margin:70px;
    text-align: center;
}

.textoSobre1 p {
    grid-area: textoSobre1;
    font-size: 18px;
    color: #3b6064;
}

.imagen1 img {
    grid-area: imagen1;
    transition: all 2s;
}

.imagen1 img:hover {
    width: 900px;
}

.textoSobre2 p {
    grid-area: textoSobre2;
    font-size: 18px;
    color: #3b6064;
}

.textoSobre3 p {
    grid-area: textoSobre3;
    font-size: 18px;
    color: #3b6064;
}

.imagen2 img {
    grid-area: imagen2;
    transition: all 2s;
}

.imagen2 img:hover {
    height: 680px;
}

.imagen3 img {
    grid-area: imagen3;
    transition: all 2s;
}

.imagen3 img:hover {
    width: 900px;
}

.parrafoSobre {
    font-family: 'Poiret One';
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    width: 600px;
}